<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortener</h1>
    <div>
    <% if (locals.id) { %>
    <h4>URL Generated: http://localhost:8000/<%= id %></h4>
    <%} else { %>
    <% } %><legend>
        <form method="post" action="/url">
          <label for="url">Enter your original URL : </label>
          <input
            type="text"
            name="url"
            id="url"
            placeholder="https://example.com"
          />
          <br />
          <button type="submit">Generate</button>
        </form>
      </legend>
    </div>
  </body>
</html>
